
<<<<<<< HEAD
.twin-container{
=======
.shop-container{
>>>>>>> 4d0f0e00976f506594f4061c9aeca1340740d877
    display: flex;
}
.product-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}